/* Experience box css to be moved to it's own component */
.experience-box {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	border-top: 1px solid rgba(240, 240, 240, 0);
	border-radius: 5px;
	transition: all 0.3s;
}

.experience-box:hover {
	background-color: rgba(240, 240, 240, 0.099);
	border-top: 1px solid rgba(240, 240, 240, 0.365);
	cursor: pointer;
}

.experience-box:hover > .experience-info-format p:nth-child(1) {
	color:rgb(94, 234, 212);
}

.experience-date-layout p {
	font-size: 0.9rem;
	color: rgb(165, 165, 165);
	text-align: center;
	padding: 0;
}

.experience-image-layout img {
	width: 100px;
	margin-top: 15px;
}

.experience-info-format {
	padding: 0 13px;
	max-width: 70%;
	min-width: 50%;
}

.experience-info-format p {
	color: white;
	font-size: 0.9rem;
}

.job-skills {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	padding: 0;
    flex-wrap: wrap;
}

.job-skills li {
	margin-right: 7px;
    margin-top: 5px;
}

.skills-bubble {
	color: rgba(94, 234, 213, 0.858);
	border-radius: 20px;
	padding: 5px 10px;
	font-size: 0.7rem;
	font-weight: bold;
	background-color: rgba(19, 78, 74, 0.477);
}

section {
	margin: 100px 0;
}

@media (max-width: 1024px) {
	.experience-box {
		flex-direction: column;
	}

	.experience-info-format {
		max-width: 100%;
		padding: 0;
		order: 1;
	}

	.experience-box:hover {
		background-color: transparent;
		border-top: 1px solid rgba(0, 0, 0, 0);
	}

	.experience-image-layout img {
		width: 190px;
		border-radius: 5px;
	}

	.experience-image-layout {
		order: 2;
	}
}